::placeholder{
    color: #aaa;
}

.container{
display: flex;
justify-content: center;
align-items: center;
padding:25px;
min-height: 100vh;
}

.container form{
padding:20px;
width:1200px;
background: #fff;
box-shadow: 0 0px 10px #bbb;
border-radius: 8px;
}

.container form .row{
display: flex;
flex-wrap: wrap;
}

.container form .row .col{
flex:1 1 250px;
}

.container form .row .col .title{
font-size: 20px;
color:#333;
padding-bottom: 5px;
text-transform: uppercase;
}

.container form .row .col .inputBox{
margin:15px 0;
}

.container form .row .col .inputBox span,
.container form .row .col .inputBox label{
font-size: 1.5rem;
margin-bottom: 10px;
display: inline-block;
}

.container form .row .col .inputBox input[type=text],
.container form .row .col .inputBox select{
width: 100%;
border:1px solid #ccc;
padding:10px 15px;
font-size: 15px;
text-transform: none;
}

.container form .row .col .inputBox input[type=checkbox]{
margin: 5px;
}

textarea {
width: 100%;
height: 120px;
padding: 12px 20px;
border: 1px solid #ccc;
font-size: 15px;
}

.container form .row .col .inputBox input:focus{
border:1px solid #000;
}

.container form .row .col .flex{
display: flex;
gap:15px;
}

.container form .row .col .flex .inputBox{
flex: 1;
margin-top: 5px;
}

.container form .submit-btn{
width: 100%;
padding:12px;
font-size: 17px;
background: #27ae60;
color:#fff;
margin-top: 5px;
cursor: pointer;
}

.container form .submit-btn:hover{
background: #2ecc71;
}

table{
width: 100%;
border-collapse: collapse;
}

td{
font-size: 1.3rem;
padding: 10px 5px;
}

td img{
    width: 100%;
}

td span.info-name-pro{
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3.5rem;
}

td:last-child{
text-align: right;
}

tr{
border-bottom: 1px solid #aaa;
}

tr.row-info-pro{
    align-items: center;
}

tr:last-child{
border-bottom: none;
}